.employeesContainer {
  display: flex;
}

.letterGroup {
  display: flex;
  flex-direction: column;
}

.employee {
  width: 200px;
}

.employeesGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}